<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <!-- Add MIME types for files that might not be recognized by IIS -->
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <!-- For PDF.js worker file -->
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
    </staticContent>
    
    <rewrite>
      <rules>
        <!-- Don't interfere with requests for node-specific folders -->
        <rule name="NodeJs" stopProcessing="true">
          <match url="^_next/static/(.*)$" />
          <action type="Rewrite" url="_next/static/{R:1}" />
        </rule>
        
        <!-- Don't interfere with requests for PDF.js worker files -->
        <rule name="PDFWorker" stopProcessing="true">
          <match url="^pdf.worker.min.js$" />
          <action type="Rewrite" url="pdf.worker.min.js" />
        </rule>
        
        <!-- For all other routes, try the file directly, then as index.html -->
        <rule name="NextStaticFiles" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="_next/server/pages/{R:0}" />
        </rule>
        
        <!-- Handle all other routes by sending to index -->
        <rule name="FallbackToIndex" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration> 